.login {
    background-image: url("/assets/images/login-background.svg");
    background-size: cover;
    width: 100%;
    height: var(--content-min-height);
}

.login > .login-form-wrapper {
    margin: auto auto;
    background-color: #fff;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    border: 3px solid var(--accent-color);
    padding: 20px;
    text-align: center;
}

.login > .login-form-wrapper .error {
    padding: 10px;
    background-color: var(--warning-color);
    color: #fff;
    border-radius: 20px;
}
