.login {
    background-image: url("/assets/images/login-background.svg");
    background-size: cover;
    padding: 10px;
    height: var(--content-min-height);
}

.login > .login-form-wrapper {
    margin: auto auto;
    background-color: #fff;
    max-width: 400px;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.login > .login-form-wrapper .error {
    padding: 10px;
    background-color: var(--warning-color);
    color: #fff;
    border-radius: 10px;
}
